/* Coolors Exported Palette - https://coolors.co/2274a5-f24c40-f5f5f5-111d4a-c2c2c2 */

/* CSS HEX */
--star-command-blue: #2274a5ff;
--tart-orange: #f24c40ff;
--cultured: #f5f5f5ff;
--space-cadet: #111d4aff;
--silver: #c2c2c2ff;

/* CSS HSL */
--star-command-blue: hsla(202, 66%, 39%, 1);
--tart-orange: hsla(4, 87%, 60%, 1);
--cultured: hsla(0, 0%, 96%, 1);
--space-cadet: hsla(227, 63%, 18%, 1);
--silver: hsla(0, 0%, 76%, 1);

/* SCSS HEX */
$star-command-blue: #2274a5ff;
$tart-orange: #f24c40ff;
$cultured: #f5f5f5ff;
$space-cadet: #111d4aff;
$silver: #c2c2c2ff;

/* SCSS HSL */
$star-command-blue: hsla(202, 66%, 39%, 1);
$tart-orange: hsla(4, 87%, 60%, 1);
$cultured: hsla(0, 0%, 96%, 1);
$space-cadet: hsla(227, 63%, 18%, 1);
$silver: hsla(0, 0%, 76%, 1);

/* SCSS RGB */
$star-command-blue: rgba(34, 116, 165, 1);
$tart-orange: rgba(242, 76, 64, 1);
$cultured: rgba(245, 245, 245, 1);
$space-cadet: rgba(17, 29, 74, 1);
$silver: rgba(194, 194, 194, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-right: linear-gradient(90deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-bottom: linear-gradient(180deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-left: linear-gradient(270deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-top-right: linear-gradient(45deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-bottom-right: linear-gradient(135deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-top-left: linear-gradient(225deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-bottom-left: linear-gradient(315deg, #2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);
$gradient-radial: radial-gradient(#2274a5ff, #f24c40ff, #f5f5f5ff, #111d4aff, #c2c2c2ff);